# Dependencies
node_modules/
.pnpm-store/

# Next.js & Build Outputs
.next/
dist/
out/
build/
.turbo/

# Environment Files
.env
.env*
.env.local
.env.development
.env.test
.env.production
.env*.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env*
**/.env.local
**/.env.development
**/.env.production
**/.env.test
**/.env*.local
!.env.example
!**/.env.example

# IDE & OS
.DS_Store
*.pem
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test Outputs
coverage/
playwright-report/
test-results/

# Prisma
prisma/*.db
prisma/*.db-journal

# Tool Caches & Temp
.firebase/
*.log
.DS_Store

