# Dependencies
node_modules/
.pnpm-store/

# Next.js & Build Outputs
.next/
dist/
out/
build/
.turbo/

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS
.DS_Store
*.pem
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Test Outputs
coverage/
playwright-report/
test-results/

# Prisma
prisma/*.db
prisma/*.db-journal
